/* Table and table row */
table {
  box-shadow: -1px 1px 5px #888888;
}

table, tr {
  /*background-color: lightBlue;*/
  width: 100%;
}

/* Cells */
td, th {
  text-align: left;
  padding: 10px !important;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

tbody td {
  border-top: 1px solid black;
}

/* Hacky way to set border radius */
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* https://stackoverflow.com/questions/3313456/css-borders-between-table-columns-only */
table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}

/* General course cards */
.courseCards {
  width: auto;
  margin-bottom: 10px;
}

.section {
  width: 4em;
}

.class {
  width: 3em;
}

.campus {
  width: 5em;
}

.enrolled {
  /*width: 5em;*/
}

/* Card banner */
.courseBanner {
  overflow: auto; /* Shows background color */
  background-color: #258AF8;
  color: white;
  box-shadow: -1px 1px 5px #888888;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.courseSubject {
  color: white;
  margin-left: 10px;
  margin-top: 10px !important;
  float: left;
  display: inline-block;
}

.courseTitle {
  color: white;
  margin-right: 10px;
  margin-top: 10px !important;
  float: right;
  display: inline-block;
}

/* Table */
.courseTableHeadRow {
  color: white;
  background-color: #A7B3C2;
  font-size: 20px;
}